@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Editace kurzů";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Sekce pro přehled krzů studenta a výsůedl§</p>


<h4>Přehled kurzů</h4>
