@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Editace kurzů";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Sekce pro přidávání kurzů do systému a následné přidání studentů a testů ke kurzu.</p>


<h4>Přehled kurzů</h4>


<h4>Přidání kurzu do systému</h4>