@{
    ViewBag.Title = "Contact";
}
<h2>Kontakty</h2>

<address>
    <strong>Developers</strong> <br />
    Bc. Martin Zmítko <br />
    <a href="mailto:zmitkma1@uhk.cz">zmitkma1@uhk.cz</a><br /><br />

    Bc. Filip Valenta<br />
    <a href="mailto:valentafi1@uhk.cz">valentafi1@uhk.cz</a><br /><br />
</address>