@{
    ViewBag.Title = "Úvod";
}

<div class="jumbotron">
    <h1>Response system</h1>
    <h2>Záklaní popis</h2>


    <p class="lead">
        Tento web vznikl jako projekt pro předmět MOIS. Jedná se o systém sloužící jako zázemí pro učitele a žáky. 
        V systému lze snadným způsobem vytvářet kurzy, testy a přidávat žáky. Ke kurzům mohou být následně přiřazeny testy a žáci.
        
        Systém bude v budoucnu využívat andorid mobilní aplikaci, která z chytrého mobilního telefonu vytváří hlasovací zařízení.
        Formou hlasovátek jsou testovány vědomosi žáků a následně vyhodnoceny v přehledných grafech.

    </p>
    <p><a href="#" class="btn btn-primary btn-large">Android app &raquo;</a></p>
</div>
